Repository nb-global-likelion/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "*.{md,json,yml,yaml,css}": "prettier --write"
}

chore: serena mcp 프로젝트에 추가
  .serena/.gitignore
  .serena/project.yml
Due: prettier --write

docs: agent 활용중인 docs 중간 저장, prompt plan 중간 저장
  backend_documentation.md
  claude_notes.md
  docs/implementation-plan.md
  supa_RLS.md
Due: prettier --write

fix: prisma 스키마 수정, orgId는 optional로 변경
  prisma/schema.prisma
Due: none

docs: 임시 파일 계획에 반영
  claude-notes.md
  docs/implementation-plan.md
Due: prettier --write

feat: 공개 프로필 공개 여부 기능 추가
  claude_notes.md
  prisma/schema.prisma
  supa_RLS.md
Due: prettier --write

Prisma 7 시드 명령을 prisma.config.ts에 설정
  prisma.config.ts
Due: eslint --max-warnings 0, prettier --write

feat: BetterAuth 서버 인스턴스 및 API 라우트 추가 (Prompt 3)
  __tests__/lib/infrastructure/auth.test.ts
  app/api/auth/[...all]/route.ts
  lib/infrastructure/auth.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 4 결과 기록 및 진행 상황 업데이트
  docs/implementation-plan.md
Due: prettier --write

docs: Prompt 6 완료 상태 반영, Prompt 4/5 상태 수정
  docs/implementation-plan.md
Due: prettier --write

chore: prettier 실행 따른 포매팅
  __tests__/lib/validations/application.test.ts
  __tests__/lib/validations/job-description.test.ts
  __tests__/lib/validations/profile.test.ts
  lib/validations/application.ts
  lib/validations/job-description.ts
  lib/validations/profile.ts
  stories/Configure.mdx
Due: eslint --max-warnings 0, prettier --write

feat: 도메인 레이어 — DomainError + 접근 제어 순수 함수
  __tests__/lib/domain/authorization.test.ts
  __tests__/lib/domain/errors.test.ts
  lib/domain/authorization.ts
  lib/domain/errors.ts
Due: eslint --max-warnings 0, prettier --write

refactor: AppRole을 도메인 타입으로 정의
  lib/domain/authorization.ts
Due: eslint --max-warnings 0, prettier --write

chore: Figma MCP 프로젝트에 연결
  .vscode/mcp.json
Due: prettier --write

feat(applications): 지원 관리 use-case 및 서버 액션 구현
  __tests__/lib/actions/applications.test.ts
  __tests__/lib/use-cases/applications.test.ts
  lib/actions/applications.ts
  lib/use-cases/applications.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 10 구현 결과 문서화
  docs/implementation-plan.md
Due: prettier --write

feat(design-system): Inter 폰트 변수를 CSS 테마 토큰에 연결
  app/globals.css
Due: prettier --write

feat(hooks): use-session 훅 추가 — auth-client의 useSession re-export
  hooks/use-session.ts
Due: eslint --max-warnings 0, prettier --write

test(nav): MainNav 단위 테스트 추가 및 jest-dom 타입 참조 설정
  __tests__/widgets/nav/main-nav.test.tsx
  jest.d.ts
Due: eslint --max-warnings 0, prettier --write

feat(ui): shadcn 컴포넌트 설치 — dialog, input, label
  components/ui/dialog.tsx
  components/ui/input.tsx
  components/ui/label.tsx
Due: eslint --max-warnings 0, prettier --write

feat(auth): Auth 모달 feature slice 구현
  features/auth/model/use-auth-modal.ts
  features/auth/ui/auth-redirect-handler.tsx
  features/auth/ui/login-modal.tsx
  features/auth/ui/signup-modal.tsx
Due: eslint --max-warnings 0, prettier --write

feat(layout): 전역 Auth 모달 렌더링 및 Log in/Sign Up 버튼 연결
  app/layout.tsx
  widgets/nav/ui/main-nav.tsx
Due: eslint --max-warnings 0, prettier --write

fix(proxy): /login,/signup 제거, /announcement 공개 추가, 미인증 → /jobs?auth=required 리다이렉트
  __tests__/features/auth/login-modal.test.tsx
  __tests__/features/auth/signup-modal.test.tsx
  __tests__/features/auth/use-auth-modal.test.ts
  __tests__/proxy.test.ts
  proxy.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 12 구현 결과 문서화 및 상태 업데이트 (✅)
  docs/implementation-plan.md
Due: prettier --write

feat(entities): 프로필 엔티티 표시 컴포넌트 구현
  __tests__/entities/profile/career-list.test.tsx
  __tests__/entities/profile/profile-header.test.tsx
  __tests__/entities/profile/skill-badges.test.tsx
  components/ui/badge.tsx
  components/ui/card.tsx
  entities/profile/ui/_utils.ts
  entities/profile/ui/career-list.tsx
  entities/profile/ui/contact-info.tsx
  entities/profile/ui/education-list.tsx
  entities/profile/ui/language-list.tsx
  entities/profile/ui/profile-header.tsx
  entities/profile/ui/skill-badges.tsx
  entities/profile/ui/url-list.tsx
Due: eslint --max-warnings 0, prettier --write

feat(profile): 후보자 프로필 조회 페이지 구현
  app/(dashboard)/candidate/profile/page.tsx
Due: eslint --max-warnings 0, prettier --write

feat(deps): shadcn select/textarea/command/popover 설치 및 프로필 편집 테스트 추가
  __tests__/features/profile-edit/career-form.test.tsx
  __tests__/features/profile-edit/skill-picker.test.tsx
  components/ui/command.tsx
  components/ui/popover.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings 0, prettier --write

feat(profile-edit): 프로필 편집 페이지 추가 및 Prompt 14 문서화
  app/(dashboard)/candidate/profile/edit/page.tsx
  docs/implementation-plan.md
Due: eslint --max-warnings 0, prettier --write

feat(entities): JD 카드·상세·지원상태 엔티티 컴포넌트 및 유틸 추가
  __tests__/entities/job/jd-card.test.tsx
  __tests__/features/apply/apply-button.test.tsx
  entities/application/ui/application-status.tsx
  entities/job/ui/_utils.ts
  entities/job/ui/jd-card.tsx
  entities/job/ui/jd-detail.tsx
Due: eslint --max-warnings 0, prettier --write

feat(features): 지원 뮤테이션 훅·버튼 및 채용공고 필터 컴포넌트 추가
  features/apply/model/use-apply-mutations.ts
  features/apply/ui/apply-button.tsx
  features/job-browse/ui/jd-filters.tsx
Due: eslint --max-warnings 0, prettier --write

feat(pages): 채용공고 탐색·상세·지원·내 지원 목록 페이지 구현
  app/(dashboard)/candidate/applications/page.tsx
  app/(dashboard)/candidate/jobs/[id]/page.tsx
  app/(dashboard)/candidate/jobs/page.tsx
  app/jobs/[id]/_login-to-apply-cta.tsx
  app/jobs/[id]/page.tsx
  app/jobs/page.tsx
  app/page.tsx
  docs/implementation-plan.md
Due: eslint --max-warnings 0, prettier --write

feat: 컬러 시스템 수정
  app/globals.css
Due: prettier --write

chore: test 스크립트 추가
  package.json
  prisma/bootstrap.sql
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

chore: DB 시드 스크립트 개선 및 문서화
  docs/test-db-local-setup.md
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

chore: test 환경 설정 위한 코드 수정
  lib/infrastructure/auth.ts
  package.json
Due: eslint --max-warnings 0, prettier --write

fix: (dashboard) 라우트 그룹 href 수정 — /dashboard/candidate → /candidate
  __tests__/proxy.test.ts
  app/(dashboard)/candidate/jobs/page.tsx
  app/(dashboard)/candidate/profile/edit/page.tsx
  app/(dashboard)/candidate/profile/page.tsx
  app/(dashboard)/dashboard-sidebar.tsx
  docs/folder-structure.md
  docs/project-state.md
  features/auth/ui/login-modal.tsx
  lib/actions/applications.ts
  lib/actions/profile.ts
  widgets/nav/ui/user-menu.tsx
Due: eslint --max-warnings 0, prettier --write

fix: env 주입으로 CI에서 env 부재로 인한 예외 처리 회피
  .github/workflows/ci.yml
Due: prettier --write

docs: Phase 5 구현 계획 및 프로젝트 진행 현황 추가
  docs/implementation-plan-p5.md
  docs/implementation-plan.md
  todo.md
Due: prettier --write

feat: P17 스키마 마이그레이션 — isGraduated→graduationStatus 및 새 필드/모델 추가
  __tests__/lib/use-cases/profile.test.ts
  __tests__/lib/validations/profile.test.ts
  app/(dashboard)/candidate/profile/edit/page.tsx
  entities/profile/ui/_utils.ts
  entities/profile/ui/education-list.tsx
  features/profile-edit/ui/education-form.tsx
  lib/validations/profile.ts
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

feat: 로그인 모달에 소셜 로그인 + 비밀번호 토글 추가
  __tests__/features/auth/login-modal.test.tsx
  features/auth/ui/login-modal.tsx
Due: eslint --max-warnings 0, prettier --write

doc: 프로젝트 상태 업데이트
  docs/folder-structure.md
  docs/project-state.md
Due: prettier --write
