Repository nb-global-likelion/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "*.{md,json,yml,yaml,css}": "prettier --write"
}

feat: PostingListItem + PostingTitle + SummaryCard + ProfileCard 도메인 컴포넌트 추가
  __tests__/entities/job/posting-list-item.test.tsx
  __tests__/entities/job/posting-title.test.tsx
  __tests__/entities/job/summary-card.test.tsx
  __tests__/entities/profile/profile-card.test.tsx
  entities/job/ui/posting-list-item.tsx
  entities/job/ui/posting-title.tsx
  entities/job/ui/summary-card.tsx
  entities/profile/ui/profile-card.tsx
Due: eslint --max-warnings 0, prettier --write

feat: GNB 리디자인 + 사이드바 Figma 스타일 반영
  __tests__/widgets/nav/main-nav.test.tsx
  app/(dashboard)/dashboard-sidebar.tsx
  widgets/nav/ui/main-nav.tsx
Due: eslint --max-warnings 0, prettier --write

feat: 에셋 추가
  public/icons/arrow-left.svg
  public/icons/search.svg
Due: none

feat: JobSearchForm + JobCategoryTabs 컴포넌트 추가
  __tests__/features/job-browse/job-category-tabs.test.tsx
  __tests__/features/job-browse/job-search-form.test.tsx
  features/job-browse/ui/job-category-tabs.tsx
  features/job-browse/ui/job-search-form.tsx
Due: eslint --max-warnings 0, prettier --write

feat: 채용공고 목록 페이지 리디자인
  app/jobs/page.tsx
Due: eslint --max-warnings 0, prettier --write

feat: 채용공고 상세 페이지 리디자인
  app/jobs/[id]/page.tsx
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 20-21 상태 업데이트 (todo.md)
  todo.md
Due: prettier --write

시드: 자격증과 공지사항 샘플 데이터 추가
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

feat: Prompt 21 후속 정렬과 쿼리 상태 일관성 구현
  __tests__/features/job-browse/job-category-tabs.test.tsx
  __tests__/features/job-browse/job-search-form.test.tsx
  __tests__/features/job-browse/job-sort-control.test.tsx
  __tests__/features/job-browse/query-state.test.ts
  __tests__/lib/actions/jd-queries.test.ts
  __tests__/lib/use-cases/jd-queries.test.ts
  __tests__/lib/validations/job-description.test.ts
  app/jobs/page.tsx
  features/job-browse/model/query-state.ts
  features/job-browse/ui/job-category-tabs.tsx
  features/job-browse/ui/job-search-form.tsx
  features/job-browse/ui/job-sort-control.tsx
  lib/use-cases/jd-queries.ts
  lib/validations/job-description.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 21 결과 섹션 추가
  docs/implementation-plan-p5.md
  todo.md
Due: prettier --write

docs: Prompt 23 결과 섹션 추가
  docs/implementation-plan-p5.md
  todo.md
Due: prettier --write

docs: Codex 위한 컨텍스트 파일 추가
  AGENTS.md
Due: prettier --write

fix: config 수정, proxy redirect 설정 변경 및 테스트 코드 추가, 문서 수정
  __tests__/proxy.test.ts
  docs/test-db-local-setup.md
  next.config.ts
  pnpm-workspace.yaml
  proxy.ts
Due: eslint --max-warnings 0, prettier --write

문서와 진행 현황을 Prompt 24 범위로 동기화
  docs/folder-structure.md
  docs/implementation-plan-p5.md
  todo.md
Due: prettier --write

docs: Prompt 24 결과 섹션 추가
  docs/implementation-plan-p5.md
  todo.md
Due: prettier --write

후보자 내 프로필 페이지 렌더링 및 수정 CTA 추가
  __tests__/app/candidate-profile-page.test.tsx
  app/(dashboard)/candidate/profile/page.tsx
  components/ui/post-status.tsx
  lib/i18n/messages/en.ts
  lib/i18n/messages/ko.ts
  lib/i18n/messages/vi.ts
Due: eslint --max-warnings 0, prettier --write

doc: 수정 필요한 요소들 표시 파일 추가
  fix_needed.md
Due: prettier --write

문서 상태 반영: 후보자 내 프로필 핫픽스 및 현황 갱신
  docs/folder-structure.md
  docs/project-state-requirements.md
  docs/project-state.md
  todo.md
Due: prettier --write

feat: skill 추가, figma와 페이지 일치 작업
  .agents/skills/figma-route-alignment/SKILL.md
  .agents/skills/figma-route-alignment/agents/openai.yaml
  .agents/skills/figma-route-alignment/references/mcp-fallback.md
  .agents/skills/figma-route-alignment/references/regression-matrix.md
  .agents/skills/figma-route-alignment/references/workflow.md
  __tests__/app/candidate-profile-page.test.tsx
  app/(dashboard)/candidate/profile/page.tsx
  app/(dashboard)/candidate/profile/profile-content.tsx
  public/icons/file.svg
Due: eslint --max-warnings 0, prettier --write

docs: 컨텍스트 파일 업데이트
  AGENTS.md
Due: prettier --write

feat(ui): DS 3.1a 입력 계열 컴포넌트 정렬
  __tests__/components/ui/date-picker.test.tsx
  __tests__/components/ui/dialcode-picker.test.tsx
  __tests__/components/ui/form-dropdown.test.tsx
  __tests__/components/ui/form-input.test.tsx
  __tests__/components/ui/lang-picker.test.tsx
  components/ui/date-picker.tsx
  components/ui/dialcode-picker.tsx
  components/ui/form-dropdown.tsx
  components/ui/form-input.tsx
  components/ui/lang-picker.tsx
  docs/folder-structure.md
  docs/project-state-requirements.md
  docs/project-state.md
  fix_needed.md
  public/icons/flag-kr.svg
  public/icons/flag-vn.svg
  todo.md
Due: eslint --max-warnings 0, prettier --write

feat(ui): 3.1b 표시 컴포넌트 피그마 정렬
  __tests__/components/ui/button-brand.test.tsx
  __tests__/components/ui/chip.test.tsx
  __tests__/components/ui/post-status.test.tsx
  __tests__/components/ui/section-title.test.tsx
  __tests__/components/ui/tab-item.test.tsx
  __tests__/entities/job/posting-list-item.test.tsx
  __tests__/entities/job/posting-title.test.tsx
  __tests__/entities/job/summary-card.test.tsx
  app/(dashboard)/candidate/applications/page.tsx
  app/jobs/[id]/page.tsx
  app/jobs/page.tsx
  components/ui/button.tsx
  components/ui/chip.tsx
  components/ui/post-status.tsx
  components/ui/section-title.tsx
  components/ui/tab-item.tsx
  docs/project-state-requirements.md
  docs/project-state.md
  entities/job/ui/posting-list-item.tsx
  entities/job/ui/posting-title.tsx
  entities/job/ui/summary-card.tsx
  fix_needed.md
  todo.md
Due: eslint --max-warnings 0, prettier --write

feat(ui): 3.1c 잔여 공통 컴포넌트 정렬
  __tests__/app/dashboard-sidebar.test.tsx
  __tests__/components/ui/login-field.test.tsx
  __tests__/components/ui/numbered-pagination.test.tsx
  __tests__/components/ui/search-bar.test.tsx
  __tests__/components/ui/social-ls.test.tsx
  __tests__/entities/profile/profile-card.test.tsx
  __tests__/features/auth/password-input.test.tsx
  __tests__/widgets/nav/main-nav.test.tsx
  app/(dashboard)/dashboard-sidebar.tsx
  components/ui/login-field.tsx
  components/ui/numbered-pagination.tsx
  components/ui/search-bar.tsx
  components/ui/social-ls.tsx
  components/ui/toggle-switch.tsx
  entities/profile/ui/profile-card.tsx
  features/auth/ui/login-modal.tsx
  features/auth/ui/password-input.tsx
  features/auth/ui/signup-modal.tsx
  widgets/nav/ui/main-nav.tsx
  widgets/nav/ui/user-menu.tsx
Due: eslint --max-warnings 0, prettier --write

feat(applications): 후보자 지원 목록 페이지 figma 정렬
  __tests__/app/candidate-applications-page.test.tsx
  app/(dashboard)/candidate/applications/loading.tsx
  app/(dashboard)/candidate/applications/page.tsx
Due: eslint --max-warnings 0, prettier --write

docs(tracking): item #5 descoped 및 item #6 완료 상태 반영
  docs/folder-structure.md
  docs/project-state-requirements.md
  docs/project-state.md
  fix_needed.md
  todo.md
Due: prettier --write

docs(plan): item 9 공지 상세 정렬 구현 계획 추가
  docs/implementation-plan-item9.md
Due: prettier --write

fix(announcements): 공지 상세 페이지 피그마 정렬 및 추적 문서 동기화
  .agents/skills/figma-route-alignment/references/regression-matrix.md
  __tests__/app/announcement-detail-page.test.tsx
  app/announcements/[id]/loading.tsx
  app/announcements/[id]/page.tsx
  docs/project-state-requirements.md
  docs/project-state.md
  fix_needed.md
  todo.md
Due: eslint --max-warnings 0, prettier --write

feat(jobs): 상세 페이지 공유/뒤로가기 및 withdraw 노출 정렬
  __tests__/app/job-detail-page.test.tsx
  __tests__/app/share-job-button.test.tsx
  __tests__/entities/job/posting-title.test.tsx
  __tests__/entities/job/summary-card.test.tsx
  __tests__/features/apply/apply-button.test.tsx
  app/jobs/[id]/_share-job-button.tsx
  app/jobs/[id]/page.tsx
  entities/job/ui/posting-title.tsx
  features/apply/ui/apply-button.tsx
  lib/i18n/messages/en.ts
  lib/i18n/messages/ko.ts
  lib/i18n/messages/vi.ts
  public/icons/share.svg
Due: eslint --max-warnings 0, prettier --write

docs(tracker): item 7 완료 상태 및 구조 문서 갱신
  docs/folder-structure.md
  docs/project-state-requirements.md
  docs/project-state.md
  todo.md
Due: prettier --write

feat(auth): 로그인/회원가입 모달 상태 피그마 정렬
  __tests__/components/ui/social-ls.test.tsx
  __tests__/features/auth/login-modal.test.tsx
  __tests__/features/auth/password-input.test.tsx
  __tests__/features/auth/signup-modal.test.tsx
  components/ui/social-ls.tsx
  features/auth/ui/login-modal.tsx
  features/auth/ui/password-input.tsx
  features/auth/ui/signup-modal.tsx
  lib/i18n/messages/en.ts
  lib/i18n/messages/ko.ts
  lib/i18n/messages/vi.ts
Due: eslint --max-warnings 0, prettier --write

docs(tracker): item 10 인증 플로우 정렬 완료 반영
  docs/project-state-requirements.md
  docs/project-state.md
  todo.md
Due: prettier --write

docs(i18n): i18n 체크리스트 문서 추가 및 참조 반영
  docs/folder-structure.md
  docs/i18n-checklist.md
  docs/project-state.md
Due: prettier --write

feat(seed): 시드 데이터 cardinality 및 대규모 생성 추가
  __tests__/prisma/seed-builders.test.ts
  prisma/seed-builders.ts
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

docs(seed): 테스트 DB 시드 계정 및 규모 문서 갱신
  docs/test-db-local-setup.md
Due: prettier --write

feat(analytics): GA4 동의 기반 계측 레이어 추가
  .env.example
  app/jobs/[id]/_job-detail-analytics.tsx
  app/jobs/[id]/_login-to-apply-cta.tsx
  app/jobs/[id]/page.tsx
  app/jobs/_jobs-list-apply-cta.tsx
  app/layout.tsx
  components/analytics/consent-banner.tsx
  components/analytics/ga4-bootstrap.tsx
  components/analytics/ga4-identity-sync.tsx
  components/analytics/page-view-tracker.tsx
  components/ui/tab-item.tsx
  features/apply/ui/apply-button.tsx
  features/auth/ui/login-modal.tsx
  features/auth/ui/signup-modal.tsx
  features/job-browse/ui/job-category-tabs.tsx
  features/job-browse/ui/job-search-form.tsx
  features/job-browse/ui/job-sort-control.tsx
  lib/analytics/consent.ts
  lib/analytics/ga4.ts
  lib/analytics/types.ts
  lib/i18n/messages/en.ts
  lib/i18n/messages/ko.ts
  lib/i18n/messages/vi.ts
  widgets/nav/ui/main-nav.tsx
Due: eslint --max-warnings 0, prettier --write

test(analytics): GA4 계측 유틸과 부트스트랩 테스트 추가
  __tests__/components/analytics/ga4-bootstrap.test.tsx
  __tests__/components/analytics/ga4-identity-sync.test.tsx
  __tests__/lib/analytics/consent.test.ts
  __tests__/lib/analytics/ga4.test.ts
Due: eslint --max-warnings 0, prettier --write

docs(analytics): GA4 데이터 해석과 액션 가이드 추가
  docs/analytics/ga4-data-action-guide.md
  docs/analytics/ga4-event-spec.md
Due: prettier --write
