Repository nb-global-likelion/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "*.{md,json,yml,yaml,css}": "prettier --write"
}

fix: 잘못 만들어진 국기 에셋 수정
  public/icons/flag-kr.svg
  public/icons/flag-vn.svg
Due: none

chore(profile): Date 변환 유틸 공통화 및 시드 정합성 반영
  __tests__/lib/date-only.test.ts
  lib/date-only.ts
  lib/use-cases/profile.ts
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

feat(db): v0.1 마이그레이션과 시드 스코프 추가
  package.json
  prisma/bootstrap.sql
  prisma/migrations/20260220021450_v0_1_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

docs(db): supabase rls 감사 문서 정합성 업데이트
  supa_RLS.md
Due: prettier --write

docs(db): supabase 운영 마이그레이션 런북 추가
  docs/supabase-migration-v0.1-runbook.md
Due: prettier --write

chore(ci): 배포 워크플로 하드닝 및 마이그레이션 스크립트 정리
  .github/workflows/deploy.yml
  docs/supabase-migration-v0.1-runbook.md
  package.json
Due: prettier --write

chore: 컨텍스트 파일 수정
  AGENTS.md
Due: prettier --write

docs(agents): 코덱스 메모리 파일 네이밍 규칙 추가
  AGENTS.md
Due: prettier --write

fix(storybook): 스토리 런타임 i18n 하드코딩 정리
  frontend/stories/ui/form-dropdown.stories.tsx
  frontend/stories/ui/form-input.stories.tsx
  frontend/stories/ui/lang-picker.stories.tsx
  frontend/stories/ui/numbered-pagination.stories.tsx
  frontend/stories/ui/post-status.stories.tsx
  frontend/stories/ui/search-bar.stories.tsx
  frontend/stories/ui/section-title.stories.tsx
  frontend/stories/ui/tab-item.stories.tsx
Due: eslint --max-warnings 0, prettier --write

fix(styles): globals 타이포 토큰 Figma 정합성 마무리
  app/globals.css
Due: prettier --write

docs(agents): AGENTS와 CLAUDE의 계획·프리플라이트·PR 규칙 명확화
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(agents): gh 실패를 권한 이슈로 간주하는 샌드박스 규칙 추가
  AGENTS.md
Due: prettier --write

fix:tab-item 수정
  frontend/components/ui/tab-item.tsx
Due: eslint --max-warnings 0, prettier --write

refactor(design-token): @theme에 h1-h4 타이포그래피 토큰 추가
  __tests__/components/ui/button-brand.test.tsx
  __tests__/components/ui/chip.test.tsx
  __tests__/components/ui/form-dropdown.test.tsx
  __tests__/components/ui/form-input.test.tsx
  __tests__/components/ui/login-field.test.tsx
  __tests__/components/ui/numbered-pagination.test.tsx
  __tests__/components/ui/post-status.test.tsx
  __tests__/components/ui/search-bar.test.tsx
  __tests__/components/ui/section-title.test.tsx
  __tests__/components/ui/tab-item.test.tsx
  __tests__/components/ui/toggle-switch.test.tsx
  __tests__/entities/job/posting-title.test.tsx
  __tests__/entities/profile/profile-card.test.tsx
  app/(dashboard)/candidate/profile/profile-content.tsx
  app/globals.css
  frontend/components/analytics/consent-banner.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/chip.tsx
  frontend/components/ui/date-picker.tsx
  frontend/components/ui/dialcode-picker.tsx
  frontend/components/ui/form-dropdown.tsx
  frontend/components/ui/form-input.tsx
  frontend/components/ui/lang-picker.tsx
  frontend/components/ui/login-field.tsx
  frontend/components/ui/numbered-pagination.tsx
  frontend/components/ui/post-status.tsx
  frontend/components/ui/search-bar.tsx
  frontend/components/ui/section-title.tsx
  frontend/components/ui/social-ls.tsx
  frontend/components/ui/tab-item.tsx
  frontend/components/ui/toggle-switch.tsx
  frontend/entities/job/ui/posting-list-item.tsx
  frontend/entities/job/ui/posting-title.tsx
  frontend/entities/job/ui/summary-card.tsx
  frontend/entities/profile/ui/profile-card.tsx
  frontend/features/auth/ui/login-modal.tsx
  frontend/features/auth/ui/signup-modal.tsx
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
  frontend/features/profile-edit/ui/profile-public-form.tsx
  frontend/widgets/nav/ui/main-nav.tsx
Due: eslint --max-warnings 0, prettier --write

chore(agents): Cursor 벤치마킹 기반 공격적 서브에이전트 위임 전략 도입
  .claude/agents/codebase-researcher.md
  .claude/agents/figma-researcher.md
  .claude/agents/lint-typecheck.md
  .claude/agents/test-runner.md
  CLAUDE.md
Due: prettier --write

docs: 컨텍스트 파일 일부 수정
  CLAUDE.md
Due: prettier --write

fix(frontend): key 부재로 인한 런타임 오류 해결
  frontend/entities/job/ui/posting-list-item.tsx
Due: eslint --max-warnings 0, prettier --write

refactor(ui): 하드코딩 텍스트·색상 Tailwind 클래스를 토큰으로 치환
  app/(dashboard)/candidate/applications/loading.tsx
  app/(dashboard)/candidate/applications/page.tsx
  app/(dashboard)/candidate/profile/profile-content.tsx
  app/(dashboard)/dashboard-sidebar.tsx
  app/announcements/[id]/loading.tsx
  app/announcements/[id]/not-found.tsx
  app/announcements/[id]/page.tsx
  app/announcements/error.tsx
  app/announcements/page.tsx
  app/candidate/[slug]/page.tsx
  app/error.tsx
  app/globals.css
  app/jobs/[id]/_share-job-button.tsx
  app/jobs/[id]/loading.tsx
  app/jobs/[id]/page.tsx
  app/jobs/_jobs-list-apply-cta.tsx
  app/jobs/loading.tsx
  app/not-found.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/toggle-switch.tsx
  frontend/features/auth/ui/login-modal.tsx
  frontend/features/auth/ui/signup-modal.tsx
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
  frontend/widgets/nav/ui/main-nav.tsx
Due: eslint --max-warnings 0, prettier --write

fix(auth): 회원가입/로그인 모달 폭 축소 정합성 수정
  frontend/features/auth/ui/login-modal.tsx
  frontend/features/auth/ui/signup-modal.tsx
Due: eslint --max-warnings 0, prettier --write

feat(i18n): 프로필 편집 페이지 저장 전 화면이탈시 경고 문구 국제화 추가
  frontend/features/profile-edit/model/use-unsaved-changes-guard.ts
  shared/i18n/messages/en.ts
  shared/i18n/messages/ko.ts
  shared/i18n/messages/vi.ts
Due: eslint --max-warnings 0, prettier --write

fix(FormInput): 피그마와 UI 일치
  frontend/components/ui/form-input.tsx
Due: eslint --max-warnings 0, prettier --write

fix(fe): 삭제 버튼 텍스트 아이콘으로 변경, FormInput bg 테마 적용
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
Due: eslint --max-warnings 0, prettier --write

fix(fe): FormInput bg 테마 적용
  frontend/features/profile-edit/ui/certification-form.tsx
  frontend/features/profile-edit/ui/language-form.tsx
  frontend/features/profile-edit/ui/profile-public-form.tsx
Due: eslint --max-warnings 0, prettier --write

fix(profile/edit): 수정 페이지 레이아웃 변경
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
Due: eslint --max-warnings 0, prettier --write

fix(test): 스타일 변경으로 실패하는 테스트 변경
  __tests__/components/ui/date-picker.test.tsx
  __tests__/components/ui/form-input.test.tsx
Due: eslint --max-warnings 0, prettier --write

feat(UI): date-picker 펼쳤을때 선택한 값이 먼저 보이도록 하는 기능 구현
  frontend/components/ui/date-picker.tsx
Due: eslint --max-warnings 0, prettier --write

docs: 인수인계 문서 작성, 문서 정리
  docs/handover.md
  docs/legacy/fix_needed.md
  docs/legacy/todo.md
  docs/supa_RLS.md
Due: prettier --write

fix(css): css 변경 롤백
  app/globals.css
Due: prettier --write
